@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(2, 1fr);
    height: 900px;
    width: 900px;
    padding: 7px;
    margin-left: 8rem;
}

.items{
    border: 2px black solid;
    height: 270px;
    width: 280px;
    padding: 20px;
}

.item-details{
    margin-left: 1px;
    font-size: 16px;
    font-family: 'roboto';
}

.item-details h4{
    display: inline;
}